include setup.py
recursive-include kiloeyes_ui/templates *
recursive-include kiloeyes_ui/static *
recursive-include kiloeyes_ui/load_avg/templates *
recursive-include kiloeyes_ui/cpu_perc/templates *
recursive-include kiloeyes_ui/process_thrdcount/templates *
recursive-include kiloeyes_ui/process_mem/templates *
recursive-include kiloeyes_ui/network/templates *
recursive-include kiloeyes_ui/disk_space/templates *
recursive-include kiloeyes_ui/inputoutput/templates *


