{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Process Thread Count" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Process Thread Count") %}
{% endblock page_header %}

{% block main %}
<div>
{% trans "Project ID:" %}
{{ project_id }}
</div>
<div>
<iframe src="{{ kibana_url }}/app/kibana#/visualize/edit/Process-Thread-Count?embed=true
&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))
&_a=(filters:!(('$state':(store:appState),meta:(alias:!n,apply:!t,disabled:!f,index:'data_*',
key:project_id,negate:!f,value:'{{project_id}}'),
query:(match:(project_id:(query:'{{project_id}}',type:phrase))))),linked:!f,
query:(query:(bool:(must:!((term:(_type:metrics)),(term:(name:process.thread_count)))))),
uiState:(vis:(colors:('{{project_id}}':%23962D82),
legendOpen:!t)),
vis:(aggs:!((id:'1',params:(field:value),schema:metric,type:sum),(id:'2',
params:(field:project_id,order:desc,orderBy:_term,row:!t,size:0),schema:split,type:terms),
(id:'3',params:(field:dimensions.process_name,order:desc,orderBy:_term,size:0),schema:segment,type:terms)),
listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,shareYAxis:!t),title:'Process%20Thread%20Count',type:pie))" 
height="600" width="800"></iframe>
<iframe src="{{ kibana_url }}/app/kibana#/visualize/edit/Process-Thread-Count-vs-Time?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-15m,mode:quick,to:now))
&_a=(filters:!(('$state':(store:appState),meta:(alias:!n,apply:!t,disabled:!f,index:'data_*',
key:project_id,negate:!f,value:'{{project_id}}'),query:(match:(project_id:(query:'{{project_id}}',type:phrase))))),
linked:!f,query:(query:(bool:(must:!((term:(_type:metrics)),(term:(name:process.thread_count)))))),uiState:(),vis:(aggs:!((id:'1',params:(field:value),
schema:metric,type:sum),(id:'2',params:(extended_bounds:(),field:timestamp,interval:86400000),schema:segment,type:histogram),
(id:'3',params:(field:dimensions.process_name,order:desc,orderBy:_term,size:0),schema:group,type:terms),
(id:'4',params:(field:project_id,order:desc,orderBy:_term,row:!t,size:0),schema:split,type:terms)),listeners:(),
params:(addLegend:!t,addTimeMarker:!f,addTooltip:!t,defaultYExtents:!f,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,
shareYAxis:!t,showCircles:!t,smoothLines:!f,times:!(),yAxis:()),title:'Process%20Thread%20Count%20vs%20Time',type:line))" height="600" width="800"></iframe>
</div>
{% endblock %}


